/* Game.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil .profile {
    height: 450px;
    width: 450px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

.selectedHints {
    margin-top: 20px;
    text-align: center;
}

.selectedHints ul {
    list-style: none;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    font-weight: 500;
    border-radius: 10px;
}

.selectedHints li {
    margin: 5px 0;
}

.buttons {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.buttons button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 35%;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.buttons button:disabled {
    background-color: #888888; /* Cor cinza para botões desabilitados */
    cursor: not-allowed;
    color: #CCCCCC; /* Cor do texto para botões desabilitados */
}

.buttons button:hover {
    background-color: #45a049;
}

.buttons h2 {
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 2em;
    text-align: center;
    border: 0px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid black;
    
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: #aaa;
}

.rocket {
    width: 50px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transition: transform 2s ease-out; /* Adiciona uma transição suave na propriedade transform */
}

.flying {
    transform: translateY(-100vh); /* Move o foguete para cima, fora da tela */
}

.fogos {
    background-image: url('https://th.bing.com/th/id/R.a8d00b8c8185ee6cc770208c589c17b1?rik=uC9vTelVpifyhQ&pid=ImgRaw&r=0');
    background-size: 5% auto; /* Largura de 5% da tela, altura automática */
    background-repeat: repeat; /* Isso faz com que a imagem se repita ao longo do eixo horizontal */
    width: 100vw; /* Largura da tela */
    height: 100vh; /* Altura da tela */
    position: fixed; /* Fixa a imagem na tela para cobrir toda a área */
    top: 0;
    left: 0;
    z-index: 900; /* Coloca a imagem atrás do conteúdo principal */
}

.iza {
    background-image: url('https://github.com/SestariDev/Amigo/blob/main/perfil3.png?raw=true');
    background-size: 25% auto;
    background-repeat: repeat-x;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 600px;
    left: 25px;
    z-index: 900;
    animation: moveRight 5s linear infinite; /* Adiciona a animação com duração de 5 segundos */
}

@keyframes moveRight {
    0% {
        left: 0; /* Começa da esquerda */
    }
    100% {
        left: -75vw; /* Move para a esquerda, além da tela (largura da tela + 50vw) */
    }
}

